<main role="main" class="container">
<div id="latest" class="row">
<div class="col-md-8 blog-main">
<h3 class="pb-3 mb-4 font-italic border-bottom">
  Latest posts
</h3>
{% for post in paginator.posts %}
  <div class="card flex-md-row" style="border: 0px;">
    <div class="row no-gutters pb-3 pt-2">
      {% if post.image %}
        <div class="col-md-3 d-none d-lg-block">
          <a href="{{ post.url }}"><img src="{{ post.image | replace: "c_fit", "c_fit,g_center,h_110,w_110" }}" class="card-img pt-4" alt=""></a>
        </div>
      {% endif %}
      <div class="col-md-9">
        <div class="card-body">
          <a href="{{ post.url }}" class="text-dark"><h3 class="card-title">{{ post.title }}</h3></a>
          <a href="{{ post.url }}" class="text-muted"><p class="card-text text-muted">{{ post.date | date_to_string: "ordinal", "US" }}</p></a>
          <a href="{{ post.url }}" class="text-dark"><p class="card-text">{{ post.excerpt | strip_html | strip_newlines | truncate: 90 }}</p></a>
        </div>
      </div>
    </div>
  </div>
  <div class="border-bottom"></div><!-- /.blog-post -->
{% endfor %}

<nav class="blog-pagination mt-5">
  <!-- Pagination links -->
  {% if paginator.previous_page %}
    <a class="btn btn-outline-primary" href="{{ paginator.previous_page_path }}#latest">Newer</a>
  {% else %}
    <span class="btn btn-outline-primary">Newer</span>
  {% endif %}
  {% if paginator.total_pages > 1 %}
    <span class="page_number ">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="btn btn-outline-secondary" href="{{ paginator.next_page_path }}#latest">Older</a>
  {% else %}
    <span class="btn btn-outline-secondary disabled">Older</span>
  {% endif %}
</nav>

</div>
