<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navigation.html %}
    <div class="container">
      <main role="main" class="container">
      <div class="row">
      <div class="col-md-8 blog-main">
        <div class="d-flex justify-content-between">
          <h3 class="pb-3 font-italic border-bottom">Posts from {{ page.date | date: "%B %Y" }}</h3>
        </div>
          {% assign posts = site.posts %}
          {% assign month = page.date | date: "%m" %}
          {% for post in posts %}
          {% assign postmonth = post.date | date: "%m" %}
            {% if month == postmonth %}
              <div class="card flex-md-row" style="border: 0px;">
                <div class="row no-gutters pb-3 pt-2">
                  {% if post.image %}
                    <div class="col-md-2 d-none d-lg-block">
                      <a href="{{ post.url }}"><img src="{{ post.image | replace: "c_fit", "c_fit,g_center,h_110,w_110" }}" class="card-img pt-4" alt=""></a>
                    </div>
                  {% endif %}
                  <div class="col-md-10">
                    <div class="card-body">
                      <a href="{{ post.url }}" class="text-dark text-decoration-none"><h3 class="card-title">{{ post.title }}</h3></a>
                      <a href="{{ post.url }}" class="text-muted text-decoration-none"><p class="card-text text-muted">{{ post.date | date_to_string: "ordinal", "US" }}</p></a>
                      <a href="{{ post.url }}" class="text-dark text-decoration-none"><p class="card-text">{{ post.excerpt | strip_html | strip_newlines | truncate: 90 }}</p></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3 border-bottom"></div>
            {% endif %}
          {% endfor %}
        {{ content }}
      </div>
        {% include sidebar.html %}
      </div>
      </main>
    </div>
  {% include footer.html %}
  {% include lightbox.html %}
  </body>
  {% include modal.html %}
  {% include algolia.html %}
</html>
