<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navigation.html %}
    <div class="container">
      <main role="main" class="container">
      <div class="row">
      <div class="col-md-8 blog-main">
        {% if page.image %}
          <img src="{{ page.image }}">
        {% endif%}
        {{ content }}
      </div>
        {% include sidebar.html %}
      </div>
      </main>
    </div>
  {% include footer.html %}
  {% include lightbox.html %}
  </body>
</html>
