<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navigation.html %}
    <div class="container">
      <main role="main" class="container">
      <div class="row">
      <div class="col-md-8 blog-main">
        <div class="row justify-content-center" style="margin-bottom: 15px;">
          {% if page.image %}
            <a href="{{ .Site.cloudinary_url }}/{{ .Params.image }}" class="lightbox-image"><img src="{{ page.image }}"></a>
          {% endif%}
        </div>
        {{ content }}
      </div>
        {% include sidebar.html %}
      </div>
      </main>
    </div>
  {% include footer.html %}
  {% include lightbox.html %}
  </body>
</html>
